/* Banner */

.top-banner {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f5f5;
  width: 1640px;
  height: 170px;
}

.banner-logo {
  margin-top: 45px;
  margin-right: 90px;
  width: 284px;
  height: 69px;
}

input[type="text"] {
  margin-left: 90px;
  margin-top: 50px;
  height: 30px;
  width: 300px;
  padding: 25px;
}

.main-img-banner {
  width: 1640px;
  height: 1137px;
}
