/* nav-bar */

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  width: 100vw;
}

.logo-img {
  margin-top: 20px;
  margin-left: 301px;
  width: 49px;
}

.login-img {
  margin-top: 20px;
  width: 49px;
  margin-right: 301px;
}

.nav-list {
  display: flex;
  height: 27px;
}

.nav-item {
  color: $green;
  font-family: Lato;
  font-size: 18px;
  line-height: 22px;
  margin: 20px;
  text-align: center;
  list-style-type: none;
}
