/* nav-bar */
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  width: 1640px;
}

.logo-img {
  margin-top: 20px;
  margin-left: 301px;
  width: 49px;
}

.login-img {
  margin-top: 20px;
  width: 49px;
  margin-right: 301px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 27px;
}

.nav-item {
  color: #26705e;
  font-family: Lato;
  font-size: 18px;
  line-height: 22px;
  margin: 20px;
  text-align: center;
  list-style-type: none;
}

/* Banner */
.top-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #f5f5f5;
  width: 1640px;
  height: 170px;
}

.banner-logo {
  margin-top: 45px;
  margin-right: 90px;
  width: 284px;
  height: 69px;
}

input[type="text"] {
  margin-left: 90px;
  margin-top: 50px;
  height: 30px;
  width: 300px;
  padding: 25px;
}

.main-img-banner {
  width: 1640px;
  height: 1137px;
}

/* green-Footer */
.policy-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #26705e;
  width: 1640px;
}

.policy-item {
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  list-style-type: none;
  margin: 10px;
}

/* Payment Footer */
.payment-footer {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  margin-top: 20px;
  width: 1640px;
}

.payment-item {
  width: 31px;
  height: 20px;
  margin-right: 10px;
}

/* Blue Footer */
.blue-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1f2f4b;
  padding: 25px;
  width: 1640px;
}

.footer-button {
  background-color: #ffe28c;
  color: #1f2f4b;
  font-family: Lato;
  font-size: 17px;
  line-height: 50px;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px #fff;
}

.white {
  font-family: Lato;
  color: #fff;
}

.address {
  color: #ffffff;
  font-family: Lato;
  font-size: 18px;
  line-height: 28px;
  width: 281px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
}

.socials-icon {
  margin-right: 5px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-family: Lato;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

.footer-text {
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  line-height: 21px;
  width: 281px;
  text-align: left;
}

.categories-heading {
  color: #ffffff;
  font-family: Lato;
  font-size: 25px;
  line-height: 30px;
  width: 282px;
  text-align: left;
  margin-left: 40px;
}

.categories-item {
  color: #ffe28c;
  font-family: Lato;
  font-size: 18px;
  line-height: 35px;
  width: 281px;
  text-align: left;
  list-style-type: none;
}

/* Mailing List */
.mailing-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1640px;
}

.mailing-heading {
  margin-top: 100px;
  color: #1f2f4b;
  font-family: Lato;
  font-size: 35px;
  line-height: 60px;
  text-align: left;
}

.terms {
  margin-left: 678px;
  color: #656565;
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
  width: 633px;
  text-align: left;
}

.sign-up-button {
  margin-top: 72px;
  background-color: #ffe28c;
  color: #1f2f4b;
  font-family: Lato;
  font-size: 17px;
  width: 100px;
  text-align: center;
  line-height: 55px;
  text-decoration: none;
  height: 55px;
  border-radius: 0px 10px 10px 0px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Push Footer Down */
html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
}
/*# sourceMappingURL=styles.css.map */